<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Configuration file for AntRun.
  
  Use this file to override the default properties contained
  in build.xml. For example, to override the build.jar.filename
  property (which sets the name of the compiled jar file), add
  an element
  
  <jar>
    <filename>foo</filename>
  </jar>
  
  inside the <build> element.
  
  **Caveat emptor:** in some cases, changing this file and running ant
  again will result in Ant using a cached version of the old file! Run
  "ant dummy" to make sure that the correct data is being read. Otherwise
  you might need to run "ant clean" and start over.
-->
<build>
  <!-- Uncomment any of these if you want to override the build
       script's default values -->

  <!-- The project's name -->
  <name>Synthia</name>
  
  <!-- The project's version number -->
  <version>0.3.2</version>
  
  <!-- The project's package (with a trailing slash) -->
  <package>ca/uqac/lif/synthia/</package>
  
  <!-- The project's author. Currently this only
  shows up in the footer of the Javadoc documentation. -->
  <author>Sylvain Hallé, Marc-Antoine Plourde</author>
  
  <!-- The project's main class -->
  <mainclass>ca.uqac.lif.synthia.Main</mainclass>
  
  <!-- The target JDK version for compilation -->
  <targetjdk>8</targetjdk>

  <!-- Default folders -->
  <srcdir>src</srcdir>
  <libdir>lib</libdir>
  <depdir>dep</depdir>
  <bindir>bin</bindir>
  <docdir>doc</docdir>

  <!-- JAR filename -->
  <jar>
    <filename>../synthia-core</filename>
  </jar>
  
  <test>
    <srcdir>srctest</srcdir>
    <bindir>bintest</bindir>
    <depdir>dep</depdir>
    <libdir>lib</libdir>
    <!-- The filename pattern to recognize test files -->
    <filenamepattern>**/*Test.java</filenamepattern>
  </test>
  
  <!--
    Write JAR dependencies here.
  -->
  <dependencies>
  <dependency>
      <!--
      Petit Poucet. Used to store provenance information.
      -->
      <name>Petit Poucet Core</name>
      <classname>ca.uqac.lif.petitpoucet.Part</classname>
      <files>
        <jar>https://github.com/liflab/petitpoucet/releases/download/v2.3/petitpoucet-core-2.3.jar</jar>
      </files>
      <bundle>true</bundle>
    </dependency>
    <dependency>
      <!--
      Petit Poucet. Used to store provenance information.
      -->
      <name>Petit Poucet Functions</name>
      <classname>ca.uqac.lif.petitpoucet.function.Function</classname>
      <files>
        <jar>https://github.com/liflab/petitpoucet/releases/download/v2.3/petitpoucet-functions-2.3.jar</jar>
      </files>
      <bundle>true</bundle>
    </dependency>
  </dependencies>
</build>
